/* .App {
  background-color: #8f755f;
  min-height: 100vh;
}
img {
  max-width: 300px;
}
Header {
  color: #e4bc84;
  font-size: 45px;
} */

body {
  padding-top: 4.5rem;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}